@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100%;
}
body
{
  background-color: #f8f9fa;
}
.container  {
  font-family: "Poppins", sans-serif;
  background-color: #f8f9fa;
  margin: auto;
  /* border:2px solid red; */
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height:80vh;
  max-width: 1000px;
  padding: 10px;
  overflow: auto;
}

.inner-container,.register-container {
  /* border:2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 20px;
  padding-top: 40px;
  width: 100%;
  max-width: 550px;
  height: calc(100% - 40px);
  overflow: auto;
}

.register-container
{
  justify-content: flex-start;
}
form {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.site-logo {
  width: 250px;
  background-color: white;
  margin-bottom: 20px;
}

.input-ele-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.password-container {
  position: relative;
}

.pass-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pass-container a {
  font-size: 13px;
  text-decoration: none;
  color: #ab2c2c;
}

.toggle-password {
  position: absolute;
  top: 69%;
  right: 0px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  font-size: 18px;
  color: #aaa;
}

.input-label {
  font-size: 14px;
  margin-bottom: 8px;
  color: #333;
}

.text-input {
  width: 100%;
  height: 48px;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.login-button,.signup-button {
  height: 48px;
  border-radius: 6px;
  border: none;
  background-color: #ab2c2c;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #8a2323;
}

.or-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: #ccc;
}

.or-text {
  margin: 0 10px;
  font-size: 14px;
  color: #888;
}

.google-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
  color: #333;
  font-size: 14px;
  cursor: pointer;
}

.google-button img {
  margin-right: 10px;
}

.newaccount {
  margin-top: 15px;
}

.newaccount a {
  text-decoration: none;
  color: #ab2c2c;
  font-weight: 500;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}
.signup-button
{
  height:50px;
}
#registerForm
{
 height: max-content;
}

@media (max-width: 768px) {

  .inner-container {
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    border-radius: 6px;
  }

  .toggle-password {
    top: 72%;
    font-size: 20px;
  }


  .site-logo {
    margin-bottom: 10px;
  }

  .text-input {
    height: 42px;
    padding: 10px;
    font-size: 13px;
  }

  .login-button,
  .google-button {
    height: 42px;
    font-size: 13px;
  }

  .or-text {
    font-size: 12px;
  }

  .pass-container a {
    font-size: 12px;
  }

  .toggle-password {
    font-size: 16px;
  }

  .error-message {
    font-size: 13px;
  }
}
.description
{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 30px;
}

@media (max-width: 600px)
{
  .container
  {
    max-width: 90vw;
  }
  .site-logo
  {
    width: 200px;
  }
}